footer{
    background-color: $color_green;
    color: $color_white_text;
    padding-top: 100px;
    .information{

        .title{
            font-size: $fs46;
        }

        .information_swap{
            margin-bottom: 80px;
        }

        .blog{
            background-color: $color_green_dark;
            width: 100%;
            height: 100%;
        }
    }
    
}